<section ng-controller="ClienteCtrl">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{titulo}}</h1>
    </div>  
  </div>

  <div class="row">
    <div class="col-lg-12">            
      <div class="panel-heading "> <!-- Painel Superior -->

        <div class="pull-left">
          <button class="btn btn-outline btn-primary btn-lg" ng-click="openInsertDialog()" > <!-- data-toggle="modal" data-target="{{idTargetModal}}" -->
            <ng-md-icon icon="add_circle"></ng-md-icon> &nbsp;{{labelAddBtn}}
          </button>
          <!--          <button data-id="inserirPf" class="btn btn-primary btn-lg " ng-click="openDialog($event)" data-toggle="modal" data-target="#formModalPf">
                      <ng-md-icon icon="add_circle"></ng-md-icon>    &nbsp;Novo Cliente PF
                    </button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
        </div>
        <div class="pull-right">
          <input class="form-control " type="text" ng-model="filtroGenerico" placeholder="Buscar Cliente"/>
        </div>
        <div class="clearfix"></div>
      </div><!-- /.Painel Superior -->
      <div class="panel panel-default">
        <div class="panel-heading">
            {{clientes.length}} Clientes encontrados                    
         </div>

        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><a href="" ng-click="ordenar('cpf')">Cadastro</a></th>
                  <th><a href="" ng-click="ordenar('nome')">Nome/Razão</a></th>
                  <th><a href="" ng-click="ordenar('email')">Email</a></th>
                  <th><a href="" ng-click="ordenar('foto')">Foto</a></th>
                  <th><a href="" ng-click="ordenar('dtCadastro')">Data Cadastro</a></th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="cliente in clientes| filter : filtroGenerico | orderBy : campo : ascDsc ">
                  <td>{{cliente.cpf}}</td>                                        
                  <td>{{cliente.nome| uppercase}}</td>
                  <td>{{cliente.email| lowercase}}</td>
                  <td><img ng-src="{{cliente.foto}}"></td>                                        
                  <td>{{cliente.dtCadastro| date:'dd/MM/yyyy HH:mm'}}</td>
                  <td>
                    <a ng-click="openUpdateDialog(cliente, $index);" tooltip="Editar" > <!-- data-toggle="modal" data-target="#formModal"  -->
                      <ng-md-icon icon="edit"></ng-md-icon>
                    </a>&nbsp;
                    <a ng-click="openDesativarDialog(cliente, $index);" tooltip="Desativar" >
                      <ng-md-icon icon="delete"></ng-md-icon>
                    </a>&nbsp;
                    <a ng-click="openInfoDialog(cliente);" tooltip="Detalhes" > <!-- data-toggle="modal" data-target="#infoModal" -->
                      <ng-md-icon icon="info"></ng-md-icon>
                    </a>&nbsp;                                        
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!-- /.table-responsive -->
        </div><!-- /.panel-body -->
      </div><!-- /.panel-default -->
    </div><!-- /.col-lg-12 -->
  </div>


</section>

