<section ng-controller="EmbalagemCtrl">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{tituloView}}</h1>
    </div>  
  </div> 
  <div class="row">        
    <div class="col-lg-12">
      <div class="panel-heading"> <!-- Painel Superior -->                
        <button class="btn btn-outline btn-primary btn-lg" ng-click="openInsertDialog()" tooltip='{{CONST.inserir.tooltipBtn}}'>
          <ng-md-icon icon="{{CONST.inserir.iconeBtn}}"></ng-md-icon> &nbsp;{{labelCadastrarBtn}}
        </button>
        <div class="pull-right">
          <input class="form-control " type="text" ng-model="filtroGenerico" placeholder="Busca geral"/>
        </div>
        <div class="clearfix"></div>        
      </div><!-- /.Painel Superior -->

      <div class="panel panel-default">
        <div class="panel-heading">
          {{embalagens.length}} Embalagens encontradas                    
        </div>        
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><a href="" ng-click="ordenar('id')">Código</a></th>
                  <th>Imagem</th>
                  <th><a href="" ng-click="ordenar('nome')">Nome</a></th>
                  <th><a href="" ng-click="ordenar('dtDesativacao')">Status</a></th>
                  <th>Ação</th>                  
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="embalagem in embalagens | filter : filtroGenerico | orderBy : campo : ascDsc">
                  <td>{{embalagem.id}}</td>
                  <td ><img ng-src="{{embalagem.imagens[0].arquivo}}" class="img-thumbnail img-list-view"/></td>
                  <td>{{embalagem.nome}}</td>
                  <td style="{{embalagem.dtDesativacao ? 'color: red' : ''}}">
                    {{embalagem.dtDesativacao ? "Desativado" : " Ativo"}}
                  </td>
                  <td>
                    <a class="{{embalagem.dtDesativacao ? 'acao-disabled' : ''}}" ng-click="openUpdateDialog(embalagem)" tooltip="{{CONST.editar.tooltipAcao}}" >
                      <ng-md-icon icon="{{CONST.editar.iconeAcao}}"></ng-md-icon>
                    </a>&nbsp;
                    <a ng-click="openAtivarDesativarDialog(embalagem);" tooltip="{{embalagem.dtDesativacao ? CONST.ativar.tooltipAcao : CONST.desativar.tooltipAcao}}" >
                      <ng-md-icon icon="{{embalagem.dtDesativacao ? CONST.ativar.iconeAcao : CONST.desativar.iconeAcao}}"></ng-md-icon>
                    </a>&nbsp;
                    <a ng-click="openFornecedorItemDialog(embalagem);" tooltip="Fornecedores">
                      <ng-md-icon icon="contacts"></ng-md-icon>
                    </a>&nbsp;
                    <a ng-click="openInfoDialog(embalagem);" tooltip="{{CONST.info.tooltipAcao}}">
                      <ng-md-icon icon="{{CONST.info.iconeAcao}}"></ng-md-icon>
                    </a>&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!-- /.table-responsive -->
        </div><!-- /.panel-body -->
      </div><!-- /.panel-default -->
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
</section>