<section ng-controller="ColaboradorCtrl">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{tituloView}}</h1>
    </div>  
  </div>
  <div class="row">
    <div class="col-lg-12">            
      <div class="panel-heading"> <!-- Painel Superior -->
        <button class="btn btn-outline btn-primary btn-lg" ng-click="openInsertDialog()" tooltip='{{CONST.inserir.tooltipBtn}}'>
          <ng-md-icon icon="{{CONST.inserir.iconeBtn}}"></ng-md-icon> &nbsp;{{labelCadastrarBtn}}
        </button>
        <div class="pull-right">
          <input class="form-control " type="text" ng-model="filtroGenerico" placeholder="Busca geral"/>
        </div>
        <div class="clearfix"></div>
      </div><!-- /.Painel Superior -->
      
      <div class="panel panel-default">
        <div class="panel-heading">
          {{colaboradores.length}} Colaboradores encontrados                    
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><a href="" ng-click="ordenar('id')">Código</a></th>
                  <th>Imagem</th>
                  <th><a href="" ng-click="ordenar('nome')">Nome</a></th>
                  <th><a href="" ng-click="ordenar('tipoPessoa')">Tipo Pessoa</a></th>
                  <th><a href="" ng-click="ordenar('dtDesativacao')">Status</a></th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="colaborador in colaboradores| filter : filtroGenerico | orderBy : campo : ascDsc ">                  
                  <td>{{colaborador.pessoa.id}}</td>
                  <td><img ng-src="{{colaborador.pessoa.imagem}}" class="img-thumbnail img-list-view" /></td>
                  <td>{{colaborador.pf.nome}}</td>
                  <td>{{'Física'}}</td>
                  <td style="{{colaborador.pessoa.dtDesativacao ? 'color: red' : ''}}">
                    {{colaborador.pessoa.dtDesativacao ? "Desativado" : " Ativo"}}
                  </td>
                  <td>
                    <a class="{{colaborador.pessoa.dtDesativacao ? 'acao-disabled' : ''}}" ng-click="openUpdateDialog(colaborador);" tooltip="{{CONST.editar.tooltipAcao}}" >
                      <ng-md-icon icon="{{CONST.editar.iconeAcao}}"></ng-md-icon>
                    </a>&nbsp;
                    <a ng-click="openAtivarDesativarDialog(colaborador);" tooltip="{{colaborador.pessoa.dtDesativacao ? CONST.ativar.tooltipAcao : CONST.desativar.tooltipAcao}}" >
                      <ng-md-icon icon="{{colaborador.pessoa.dtDesativacao ? CONST.ativar.iconeAcao : CONST.desativar.iconeAcao}}"></ng-md-icon>
                    </a>&nbsp;
                    <a ng-click="openInfoDialog(colaborador);" tooltip="{{CONST.info.tooltipAcao}}" >
                      <ng-md-icon icon="{{CONST.info.iconeAcao}}"></ng-md-icon>
                    </a>&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!-- /.table-responsive -->
        </div><!-- /.panel-body -->
      </div><!-- /.panel-default -->
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
</section>