<section ng-controller="RotuloCtrl">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{titulo}}</h1>
    </div>  
  </div> 
  <div class="row">        
    <div class="col-lg-12">
      <div class="panel-heading" > <!-- Painel Superior -->                
        <button class="btn btn-outline btn-primary btn-lg" ng-click="openInsertDialog()" > 
          <ng-md-icon icon="add_circle"></ng-md-icon> &nbsp;{{labelAddBtn}}
        </button>
        <div class="pull-right">
          <input class="form-control " type="text" ng-model="filtroGenerico" placeholder="Buscar Rótulo"/>
        </div>
        <div class="clearfix"></div>
      </div><!-- /.Painel Superior -->

      <div class="panel panel-default">
        <div class="panel-heading">
          {{rotulos.length}} Rótulos encontrados
        </div>        
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><a href="" ng-click="ordenar('id')">Código</a></th>
                  <th>Imagem</th>
                  <th><a href="" ng-click="ordenar('dsCurta')">Nome</a></th>
                  <th>Ação</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="rotulo in rotulos | filter : filtroGenerico | orderBy : campo : ascDsc ">
                  <td>{{rotulo.id}}</td>
                  <td>{{rotulo.imagem}}</td>
                  <td>{{rotulo.dsCurta}}</td>
                  <td>
                    <a ng-click="openUpdateDialog(rotulo, $index);" tooltip="Editar" > <!-- data-toggle="modal" data-target="#formModal"  -->
                        <ng-md-icon icon="edit"></ng-md-icon>
                    </a>&nbsp;
                    <a ng-click="openDesativarDialog(rotulo, $index);" tooltip="Desativar" >
                        <ng-md-icon icon="delete"></ng-md-icon>
                    </a>&nbsp;
                    <a ng-click="openInfoDialog(rotulo);" tooltip="Detalhes" > <!-- data-toggle="modal" data-target="#infoModal" -->
                        <ng-md-icon icon="info"></ng-md-icon>
                    </a>&nbsp;                                        
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!-- /.table-responsive -->
        </div><!-- /.panel-body -->
      </div><!-- /.panel-default -->
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
</section>