<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><ng-md-icon icon="{{iconeHeaderDialog}}" ></ng-md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{tituloDialog}}</h4>    
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="formSaldoLote">
      <div class="row page-header">
        <div class="col-sm-3">
          <img ng-src="{{itemEstoque.item.imagens[0].caminhoArquivo}}" class="img-thumbnail form-img">
        </div>
        <div class="col-sm-9 h3">
          {{itemEstoque.item.nome}}
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><a href="" ng-click="ordenar('codLote')">Lote</a></th>
              <th><a href="" ng-click="ordenar('quantidade')">Quantidade Entrada</a></th>
              <th><a href="" ng-click="ordenar('estoqueDisponivel')">Quantidade Disponível Atual</a></th>
<!--              <th><a href="" ng-click="ordenar('novoEstoqueDisponivel')">Nova Quantidade Disponível</a></th>
              <th><a href="" ng-click="ordenar('justificativa')">Justificativa</a></th>-->
              <th>Ação</th>                  
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="lote in lotes | filter : filtroGenerico | orderBy : campo : ascDsc">
              <td>{{lote.codLote}}</td>
              <td>{{lote.quantidade}}</td>
              <td>{{lote.estoqueDisponivel}}</td>
<!--              <td><input type="text" class="form-control" ng-model="lote.novoEstoqueDisponivel"></td>
              <td><textarea class="form-control" ng-model="lote.justificativa"/></td>-->
              <td>
                <a ng-click="openNewSaldoDialog(lote);" tooltip="Novo saldo">
                  <ng-md-icon icon="edit"></ng-md-icon>
                </a>&nbsp;
                <a ng-click="openInfoDialog(lote);" tooltip="{{CONST.info.tooltipAcao}}">
                  <ng-md-icon icon="{{CONST.info.iconeAcao}}"></ng-md-icon>
                </a>&nbsp;
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </form>

  </div><!-- /.modal body-->

  <div class="modal-footer">
    <!--<button type="submit" class="btn btn-default">Submit Button</button>-->
    <button type="button" class="btn btn-outline btn-warning" ng-click="clear()">
      <ng-md-icon icon="refresh"></ng-md-icon> Limpar
    </button>
    <button type="button" class="btn btn-outline btn-danger" ng-click="cancel()" data-dismiss="modal">
      <ng-md-icon icon="clear"></ng-md-icon> Cancelar
    </button>
    <button type="button" class="btn btn-outline btn-success" ng-click="submit()">
      <ng-md-icon icon="save"></ng-md-icon> Gravar
    </button>
  </div>
</div><!-- /.modal content-->