<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><ng-md-icon icon="{{iconeHeaderDialog}}" ></ng-md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{tituloDialog}}</h4>    
  </div>
  <div class="modal-body">
    <form class="form" role="form" name="formSaldo">
      <div class="form-group">
        <label class="control-label">Estoque Disponivel Atual</label>
        <div for="estoqueDisponivel" class="">
          <!--<p class="form-control-static">{{loteOrig.estoqueDisponivel}}</p>-->
          <input type="text" id="estoqueDisponivel" class="form-control" ng-model="loteOrig.estoqueDisponivel" ng-disabled="true">
        </div>
      </div>
      <div class="form-group" >
        <label for="newSaldo" class="control-label">Nova Quantidade</label>
        <div class="">
          <input type="text" id="newSaldo" class="form-control" ui-number-mask="1" ng-model="newSaldo">
        </div>
      </div>
      <div class="form-group" ng-if="formTipo!='inventario'">
        <label for="motivo" class="control-label">Motivo</label>
        <div class="">
          <select class="form-control" id="motivo" ng-model='temp.motivo' ng-options="motivo for motivo in motivos">
            <option value="" disabled selected style="display: none;"> Selecione um motivo </option>
          </select>
        </div>
      </div>
    </form>
    <div class="alert alert-warning alert-dismissable" ng-show="false">
      <button class="close" aria-hidden="true" data-dismiss="alert" type="button">&times;</button>
      *Confirmar com cliente quais os motivos para alteração de saldo
    </div>
  </div><!-- /.modal body-->

  <div class="modal-footer">
    <button type="button" class="btn btn-outline btn-danger" ng-click="cancel()" data-dismiss="modal">
      <ng-md-icon icon="clear"></ng-md-icon> Cancelar
    </button>
    <button type="button" class="btn btn-outline btn-success" ng-click="submit()">
      <ng-md-icon icon="done"></ng-md-icon> Confirmar
    </button>
  </div>
</div><!-- /.modal content-->