<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><ng-md-icon icon="storage" ></ng-md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{tituloDialog}}</h4>    
  </div>
  <!--{{lotes}}-->
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="formInventario">
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-sm-1"><a href="" ng-click="ordenar('item.id')">Cód. Item</a></th>
                <th class="col-sm-4" colspan="2"><a href="" ng-click="ordenar('item.nome')">Item</a></th>
                <th class="col-sm-2"><a href="" ng-click="ordenar('codLote')">Cód. Lote</a></th>
                <th class="col-sm-2"><a href="" ng-click="ordenar('estoqueDisponivel')">Saldo Atual</a></th>
                <th class="col-sm-3"><a href="" ng-click="ordenar('newSaldo')">Saldo Corrigido</a></th>
                <!--<th>Ação</th>-->
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="lote in lotes| filter : filtroGenerico | orderBy : campo : ascDsc">
                <td class="col-sm-1">{{lote.item.id}}</td>
                <td class="col-sm-1"><img ng-src="{{lote.item.imagens[0].caminhoArquivo}}" class="img-thumbnail img-list-view"/></td>
                <td class="col-sm-3">{{lote.item.nome}}</td>
                <td class="col-sm-2">{{lote.codLote}}</td>
                <td class="col-sm-2">{{lotesInit[$index].estoqueDisponivel}}</td>
                <td class="col-sm-3">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-number" ng-click="removeSaldo($index)">
                        <span class="glyphicon glyphicon-minus"></span>
                      </button>
                    </span>
                    <input type="text" name="newSaldo" class="form-control" ui-number-mask="1" ui-negative-number ng-model="lote.estoqueDisponivel">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default btn-number" ng-click="addSaldo($index)">
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.table-responsive -->
      </div><!-- /.panel-body -->
    </form>      
    <div class="alert alert-info alert-dismissable" ng-show="false">
      <button class="close" aria-hidden="true" data-dismiss="alert" type="button">&times;</button>
      *Verificar com stakeholders quais lotes exibir (expira por data ou por saldo) e se saldo poderá ser negativo
    </div>
  </div><!-- /.modal body-->

  <div class="modal-footer">
    <!--<button type="submit" class="btn btn-default">Submit Button</button>-->
    <button type="button" class="btn btn-outline btn-warning" ng-click="clear()">
      <ng-md-icon icon="refresh"></ng-md-icon> Limpar
    </button>
    <button type="button" class="btn btn-outline btn-danger" ng-click="cancel()" data-dismiss="modal">
      <ng-md-icon icon="clear"></ng-md-icon> Cancelar
    </button>
    <button type="button" class="btn btn-outline btn-success" ng-click="submit()">
      <ng-md-icon icon="save"></ng-md-icon> Gravar
    </button>
  </div>
</div><!-- /.modal content-->