<div class="modal-content">
  <div class="modal-header">    
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel">
      <ng-md-icon icon="{{iconeHeaderDialog}}" ></ng-md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{tituloDialog}}
    </h4>
  </div>

  <div class="modal-body">
    <div class="panel-default">
      <div class="row">
        <div class="col-lg-12">
          <h3 align="center">Geral</h3>
          <div class="table-responsive">
            <table class="table table-striped table-condensed">
              <tbody>
                <tr>
                  <td><label class="control-label">Id</label></td>
                  <td >{{pedido.id}}</td>  
                </tr>
                <tr>
                  <td><label class="control-label">Código Pedido</label></td>
                  <td >{{pedido.codPedido}}</td>  
                </tr>
                <tr>
                  <td><label class="control-label">Cliente</label></td>
                  <td>{{pedido.pessoa ? (pedido.pessoa.pf ? pedido.pessoa.pf.nome : pedido.pessoa.pj.nomeFantasia) : 'Visitante'}}</td>  
                </tr>
                <tr>
                  <td><label class="control-label">Canal de Venda</label></td>
                  <td>{{pedido.formaVenda.nome}}</td>  
                </tr>
                <tr>
                  <td><label class="control-label">Status Atual</label></td>
                  <td>{{pedido.statusAtual.status.nome}}</td>
                </tr>
                <tr>
                  <td><label class="control-label">Data Última Alteração</label></td>
                  <td>{{pedido.statusAtual.dtStatus}}</td>
                </tr>
                <tr>
                  <td><label class="control-label">Valor Total</label></td>
                  <td>{{pedido.valorTotal | currency}}</td>
                </tr>
                <tr>
                  <td><label class="control-label">Forma de Pagamento</label></td>
                  <td>{{pedido.formaPagamento.nome}}</td>
                </tr>
              </tbody>
            </table>
          </div><!-- /.table-responsive --> 
          
          <hr>  
          <h3 align="center">Produtos</h3>
          <div class="table-responsive">
            <table class="table table-striped" ng-show="pedido.produtosPedido.length > 0">
              <thead>
                <tr>
                  <th colspan="2" align="center">Produto</th>
                  <th align="center">Quantidade</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="produtoPedido in pedido.produtosPedido">
                  <td class="col-sm-1">
                    <img ng-src="{{produtoPedido.produto.imagens[0].caminhoArquivo}}" class="img-thumbnail img-list-view"/>
                  </td>
                  <td>
                    {{produtoPedido.produto.nome}}
                  </td>
                  <td class="col-sm-2">
                    {{produtoPedido.quantidade}}
                  </td>
                </tr>
              </tbody>
            </table>  
          </div><!-- /.table-responsive --> 
          
          <hr>  
          <h3 align="center">Entrega</h3>
          <div class="table-responsive">
            <table class="table table-striped table-condensed">
              <tbody>
                <tr>
                  <td><label class="control-label">Forma de Entrega</label></td>
                  <td> {{pedido.formaEntregaPedido.formaEntrega.nome}}</td>  
                </tr>
                <tr>
                  <td><label class="control-label">Transportadora</label></td>
                  <td>{{pedido.formaEntregaPedido.transportadora.nomeFantasia}}</td>  
                </tr>
                <tr>
                  <td><label class="control-label">Dias Previstos</label></td>
                  <td>{{pedido.formaEntregaPedido.tempoPrevisto}}</td>  
                </tr>
                <tr>
                  <td><label class="control-label">Custo</label></td>
                  <td>{{pedido.formaEntregaPedido.valorCusto | currency}}</td>  
                </tr>
              </tbody>
            </table> 
          </div><!-- /.table-responsive --> 
          
        </div> <!-- /.col-lg-12 -->
      </div>  <!-- /.row -->
    </div> <!-- /.panel-default -->
  </div> <!-- modal-body -->

  <div class="modal-footer">
    <button type="button" class="btn btn-outline btn-primary btn-lg btn-block" ng-click="cancel()" data-dismiss="modal">
      <ng-md-icon icon="clear"></ng-md-icon> Fechar
    </button>
  </div>
</div>
