<section ng-controller="PedidoCtrl">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{tituloView}}</h1>
    </div>
  </div> 
  <div class="row">        
    <div class="col-lg-12">
      <div class="panel-heading"> <!-- Painel Superior -->
        <button class="btn btn-outline btn-primary btn-lg" ng-click="openInsertDialog()" tooltip="Lançar pedido">
          <ng-md-icon icon="{{imgCadastrarBtn}}"></ng-md-icon> &nbsp;{{labelCadastrarBtn}}
        </button>
<!--        <button class="btn btn-outline btn-primary btn-lg" ng-click="openInsertDialog()" tooltip="Sugerir pedido para cliente">
          <ng-md-icon icon="add_shopping_cart"></ng-md-icon> &nbsp;Sugerir pedido
        </button>-->
        <div class="pull-right">
          <input class="form-control " type="text" ng-model="filtroGenerico" placeholder="Busca geral"/>
        </div>
        <div class="clearfix"></div>        
      </div><!-- /.Painel Superior -->
      <div class="panel panel-default">
        <div class="panel-heading">
          Há {{pedidos.length}} pedidos em aberto 
        </div>        
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><a href="" ng-click="ordenar('id')">Id </a></th>
                  <th><a href="" ng-click="ordenar('codPedido')">Cód. Pedido</a></th>
                  <th><a href="" ng-click="ordenar('statusPedido[statusPedido.length - 1].status.nome')">Status</a></th>
                  <th><a href="" ng-click="ordenar('statusPedido[statusPedido.length - 1].dtStatus')">Última Alteração</a></th>
                  <th><a href="" ng-click="ordenar('pessoa.nome')">Cliente</a></th>
                  <th>
                    <a href="" ng-click="ordenar('valorTotal')">
                      Valor Total
                    </a>
                  </th>
                  <th>Ação</th>                  
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="pedido in pedidos | filter : filtroGenerico | orderBy : campo : ascDsc">
                  <td>{{pedido.id}}</td>
                  <td>{{pedido.codPedido}}</td>
                  <td>{{pedido.statusPedido[pedido.statusPedido.length - 1].status.nome}}</td>
                  <td>{{pedido.statusPedido[pedido.statusPedido.length - 1].dtStatus}}</td>
                  <td>{{pedido.pessoa ? (pedido.pessoa.pf ? pedido.pessoa.pf.nome : pedido.pessoa.pj.nomeFantasia) : 'Não identificado';}}</td>
                  <td>{{pedido.valorTotal | currency}}</td>
                  
                  <td> <!-- ações -->
<!--                    <div class="col-sm-1">
                      <a href="" ng-click="openUpdateDialog(pedido)" tooltip="{{CONST.editar.tooltipAcao}}" >
                        <ng-md-icon icon="add_shopping_cart"></ng-md-icon>
                      </a>&nbsp;
                    </div >-->
                    <div ng-repeat="status in pedido.statusPedido | orderBy : ordem" class="col-sm-1">
                      <a href="" ng-click="$first ? openUpdateDialog(pedido) : updateStatusPedido(false);" tooltip="{{actionIconStatus[$index].tooltip}}" > <!--ng-if="pedido.statusPedido.length >= $index"> -->
                        <ng-md-icon icon="{{actionIconStatus[$index].icone}}"></ng-md-icon>
                      </a>&nbsp;
                    </div>
                    <div class="col-sm-1">
                      <a href="" ng-click="openInfoDialog(pedido);" tooltip="{{CONST.info.tooltipAcao}}">
                        <ng-md-icon icon="{{CONST.info.iconeAcao}}"></ng-md-icon>
                      </a>&nbsp;
                    </div>
                  </td> <!-- /. ações -->
                </tr>
                
              </tbody>
            </table>
          </div><!-- /.table-responsive -->
        </div><!-- /.panel-body -->
      </div><!-- /.panel-default -->
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
</section>