<section ng-controller="EstoqueCtrl">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">{{tituloView}}</h1>
    </div>
  </div> 
  <div class="row">        
    <div class="col-lg-12">
      <div class="panel-heading"> <!-- Painel Superior -->
        <div class="col-lg-2">
          <button class="btn btn-outline btn-primary btn-lg" ng-click="openInsertDialog()" tooltip='Dar entrada de {{tipoItem.dsSing}} no estoque'>
            <ng-md-icon icon="{{CONST.inserir.iconeBtn}}"></ng-md-icon> &nbsp;{{labelCadastrarBtn}}
          </button>
        </div>
        <div class="col-lg-2">
          <button class="btn btn-outline btn-warning btn-lg" ng-click="openInventarioDialog()" tooltip='Alterar Saldos Estoque'>
            <ng-md-icon icon="storage"></ng-md-icon> &nbsp;{{'Inventário'}}
          </button>
        </div>
        <div class="pull-right">
          <input class="form-control " type="text" ng-model="filtroGenerico" placeholder="Busca geral"/>
        </div>
        <div class="clearfix"></div>        
      </div><!-- /.Painel Superior -->
      <div class="panel panel-default">
        <div class="panel-heading">
          <!--Há {{estoque.length}} {{estoque.length > 1 ? {{tipoItem.dsPlur}} : {{tipoItem.dsDesc}} }} com saldo em estoque-->
          {{headerLista}}
        </div>        
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th><a href="" ng-click="ordenar('item.id')">Cód. Item</a></th>
                  <th colspan="2"><a href="" ng-click="ordenar('item.nome')">Item</a></th>
                  <th><a href="" ng-click="ordenar('estoqueDisponivel')">Quantidade Disponível</a></th>
                  <th>Ação</th>                  
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="itemEstoque in estoque | filter : filtroGenerico | orderBy : campo : ascDsc">
                  <td>{{itemEstoque.item.id}}</td>
                  <td ><img ng-src="{{itemEstoque.item.imagens[0].caminhoArquivo}}" class="img-thumbnail img-list-view"/></td>
                  <td>{{itemEstoque.item.nome}}</td>
                  <td>{{itemEstoque.estoqueDisponivel}}</td>
                  <td>
                    <a ng-click="openListLotesDialog(itemEstoque);" tooltip="Alterar Lotes">
                      <ng-md-icon icon="settings"></ng-md-icon>
                    </a>&nbsp;
                    <a ng-click="openInfoDialog(itemEstoque);" tooltip="{{CONST.info.tooltipAcao}}">
                      <ng-md-icon icon="{{CONST.info.iconeAcao}}"></ng-md-icon>
                    </a>&nbsp;
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!-- /.table-responsive -->
        </div><!-- /.panel-body -->
      </div><!-- /.panel-default -->
    </div><!-- /.col-lg-12 -->
  </div><!-- /.row -->
</section>