<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
                        
            <li ng-class="{active: collapseVar==1}">
                <a href ng-click="check(1)">
                  <i class="fa fa-folder-open fa-fw"></i> Cadastros <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                  <li><a ui-sref="main.cadastro.embalagem"> Embalagem </a></li>
                  <li><a ui-sref="main.cadastro.rotulo"> Rótulo </a></li>
                  <li><a ui-sref="main.cadastro.insumo"> Insumo </a></li>
                  <li><a ui-sref="main.cadastro.categoria"> Categoria </a></li>
                  <li><a ui-sref="main.cadastro.receita"> Receita </a></li>
                  <li><a ui-sref="main.cadastro.produto"> Produto </a></li>
                  <li><a ui-sref="main.cadastro.selo"> Selo </a></li>
                  <li><a ui-sref="main.cadastro.fornecedor({perfil: 'fornecedor'})"> Fornecedor </a></li>
                  <li><a ui-sref="main.cadastro.cliente({perfil: 'cliente'})"> Cliente </a></li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==2}">
                      <a href ng-click="multiCheck(2)">Colaborador <span class="fa arrow"></span></a>
                      <ul class="nav nav-third-level" collapse="multiCollapseVar!=2">
                        <li><a ui-sref="main.cadastro.colaborador({perfil: 'diretor'})"> Diretor </a></li>
                        <li><a ui-sref="main.cadastro.colaborador({perfil: 'gerente'})"> Gerente </a></li>
                        <li><a ui-sref="main.cadastro.colaborador({perfil: 'producao'})"> Produção </a></li>
                        <li><a ui-sref="main.cadastro.colaborador({perfil: 'entrega'})"> Entrega </a></li>
                      </ul>
                      <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            
            <li ng-class="{active: collapseVar==3}">
                <a href ng-click="check(3)"><i class="fa fa-cubes fa-fw"></i> Estoque <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=3">
                    <li><a href ui-sref="main.estoque({tipoItem: 'produto'})"> Produto </a></li>
                    <li><a href ui-sref="main.estoque({tipoItem: 'insumo'})"> Insumo </a></li>
                    <li><a href ui-sref="main.estoque({tipoItem: 'embalagem'})"> Embalagem </a></li>
                    <li><a href ui-sref="main.estoque({tipoItem: 'rotulo'})"> Rótulo </a></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            
            <li ng-class="{active: collapseVar==4}">
                <a href ng-click="check(4)"><i class="fa fa-gear fa-fw"></i> Produção <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=4">                    
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==5}">
                        <a href ng-click="multiCheck(5)">Pedidos Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=5">
                            <li><a href ui-sref="main.producao.gerenciar_pedido"> Gerenciar </a></li>
                            <li><a href ui-sref="main.producao.sugerir_pedido"> Sugerir </a></li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                    <li><a href ui-sref="main.producao.fabricacao"> Ordem Fabricação </a></li>
                    <li><a href ui-sref="main.producao.expedicao"> Ordem Expedição </a></li>
                    <li><a href ui-sref="main.producao.entrega"> Ordem Entrega </a></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            
            <li ng-class="{active: collapseVar==6}">
                <a href ng-click="check(6)"><i class="fa fa-check-circle-o fa-fw"></i> Qualidade <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=6">
                    <li><a href ui-sref="main.qualidade.formulario"> Formulários </a></li>
                    <li><a href ui-sref="main.qualidade.contato"> Contato </a></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            
            <li ng-class="{active: collapseVar==7}">
                <a href ng-click="check(7)"><i class="fa fa-shopping-cart fa-fw"></i> E-Commerce <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=7">
                    <li><a href ui-sref="main.loja.destaque">   Destaque </a></li>
                    <li><a href ui-sref="main.loja.lancamento">  Lançamentos </a></li>
                    <li><a href ui-sref="main.loja.promocao"> Promoção </a></li>
                    <li><a href ui-sref="main.loja.parceiro">  Parceiros </a></li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            
            <li ng-class="{active: collapseVar==8}">
                <a href ng-click="check(8)"><i class="fa fa-file-text fa-fw"></i> Relatórios <span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=8">
                    <li><a href ui-sref="main.relatorio.fornecedor"> Fornecedor </a></li>
                    <li><a href ui-sref="main.relatorio.cliente"> Cliente </a></li>
                    <li><a href ui-sref="main.relatorio.produto"> Produto </a></li>
                    <li><a href ui-sref="main.relatorio.produtividade"> Produtividade </a></li>
                    <li><a href ui-sref="main.relatorio.pedido"> Pedido </a></li>
                    <li><a href ui-sref="main.relatorio.venda"> Venda </a></li>
                    <li><a href ui-sref="main.relatorio.satisfacao"> Pesquisa Satisfação </a></li>
                    <li><a href ui-sref="main.relatorio.pagamento"> Pagamento </a></li>                
                </ul>
                <!-- /.nav-second-level -->
            </li>
            
            <!-- menus originais -->
            <li ng-class="{active: collapseVar==9}">{{dropDown}}
                <a href ng-click="check(9)"><i class="fa fa-wrench fa-fw"></i> UI Elements<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=9">
                    <li ui-sref-active="active">
                        <a ui-sref="main.panels-wells">Panels and Wells</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="main.buttons">Buttons</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="main.notifications">Notifications</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="main.typography">Typography</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="main.icons"> Icons</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="main.grid">Grid</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            
            <li ui-sref-active="active">
                <a href ui-sref="main.home"><i class="fa fa-main fa-fw"></i> Dashboard</a>
            </li>
            <li ui-sref-active="active">

                <a href ui-sref="main.chart"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span></span></a>

            </li>
            <li ui-sref-active="active">
                <a href ui-sref="main.table"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="main.form"><i class="fa fa-edit fa-fw"></i> Forms</a>
            </li>
            <li ui-sref-active="active">
                <a href ui-sref="main.calendar"><i class="fa fa-calendar fa-fw"></i> Calendario </a>
            </li>
            
            
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



