<div class="modal-content" ng-init="init();">
  <div class="modal-header">    
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><ng-md-icon icon="{{iconeHeaderDialog}}" ></ng-md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{tituloDialog}}</h4>
    debug cliente{{cliente}}
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="formCliente" ng-if="formTipo != 'info'">
      <ul class="nav nav-tabs">
        <li ng-repeat="step in steps" ng-class="{active: $index == getCurrentStepIndex()}">
          <a href="javascript:void(0)" ng-click="goToStep($index)">{{step}}</a>
        </li>
      </ul>

      debug pessoa{{pessoa}}
      <div ng-switch on="selection">
        <div ng-switch-when="Passo 1 - Dados Gerais"><!-- ABA 1 - GERAL -->
          <div class="form-group" ng-if="formTipo == 'info'">
            <label for="id" class="col-sm-3 control-label">Código</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="id" ng-model="pessoa.id" ng-disabled="true">
            </div>
          </div>          
          
          <div class="form-group" >
            <label for="tipoPessoa" class="col-sm-3 control-label">Tipo de Pessoa</label>
            <div class="col-sm-7">
              <label class="radio-inline">
                <input id="tipoPessoa" ng-model="pessoa.tipoPessoa" type="radio" value="pf" ng-click="toogleTipoPessoa()" > Física <!-- ng-checked="pessoa.tipoPessoa == 'pf' || !pessoa.tipoPessoa" -->
              </label>
              <label class="radio-inline">
                <input id="tipoPessoa" ng-model="pessoa.tipoPessoa" type="radio" value="pj" ng-click="toogleTipoPessoa()" > Jurídica <!--  ng-checked="pessoa.tipoPessoa == 'pj'" -->
              </label>
            </div>
          </div>
          
          <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="usuario" placeholder="E-mail" ng-model="pessoa.email" ng-disabled="formTipo == 'info'">
            </div>
          </div>
          <div class="form-group">
            <label for="usuario" class="col-sm-3 control-label">Nome de usuário</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="usuario" placeholder="Usuario" ng-model="pessoa.usuario" ng-disabled="formTipo == 'info'">
            </div>
          </div>
          <div class="form-group">
            <label for="senha" class="col-sm-3 control-label">Senha</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="senha" placeholder="Senha" ng-model="pessoa.senha" ng-disabled="formTipo == 'info'">
            </div>
          </div>
          <div class="form-group">
            <label for="telefone1" class="col-sm-3 control-label">Telefone 1</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="telefone1" placeholder="Telefone 1" ng-model="pessoa.telefone1" ng-disabled="formTipo == 'info'">
            </div>
          </div>
          <div class="form-group">
            <label for="telefone2" class="col-sm-3 control-label">Telefone 2</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="telefone2" placeholder="Telefone 2" ng-model="pessoa.telefone2" ng-disabled="formTipo == 'info'">
            </div>
          </div>
          <div class="form-group" ng-if="formTipo == 'info' && pessoa.dtDesativacao"> 
            <label for="dtDesativacao" class="col-sm-3 control-label">Data Desativação</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="dtDesativacao" ng-model="pessoa.dtDesativacao" ng-disabled="true">
            </div>
          </div>
          <!--        inicio teste img-->
      <div class="form-group"> 
        <label for="imagem" class="col-sm-3 control-label">Imagem</label>
        <button type="button" class="col-sm-2 btn btn-primary btn-sm" ngf-select ng-model="imgSelecionada" accept="image/*">
          Procurar
        </button>
        <div class="col-sm-7 form-control cropAreaSgp" id="imagem" ng-model="imgSelecionada" ngf-pattern="image/*" ngf-drop>
          <img-crop image="imgSelecionada  | ngfDataUrl" result-image="pessoa.imagem" ng-init="pessoa.imagem">
            Arraste e solte a imagem ou clique para localizar no computador
          </img-crop>        
        </div>
        <div>
          <img ng-src="{{pessoa.imagem}}" />
        </div>
      </div>
<!--fim teste img-->


        </div><!-- /.ABA 1 - GERAL -->

        <div ng-switch-when="Passo 2 - Dados Pessoa - Física" ><!-- ABA 2 - PF -->
          debug PF {{pf}}
          <div class="form-group">
            <label for="nome" class="col-sm-3 control-label">Nome</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="nome" placeholder="Nome" ng-model="pf.nome" ng-disabled="formTipo == 'info'">
            </div>
          </div>  
          <div class="form-group">
            <label for="sobrenome" class="col-sm-3 control-label">Sobrenome</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="sobrenome" placeholder="" ng-model="pf.sobrenome" ng-disabled="formTipo == 'info'">
            </div>
          </div>  
          <div class="form-group">
            <label for="sexo" class="col-sm-3 control-label">Sexo</label>
            <div class="col-sm-9">
              <select class='form-control' id="sexo" ng-model='pf.sexo' ng-options="sexo.nome as sexo.nome  for sexo in sexos" ng-disabled="formTipo == 'info'">
                <option value='' style='color: #999; opacity: 1;'> Selecione </option>
              </select>
            </div>
          </div>   
          <div class="form-group">
            <label for="titulo" class="col-sm-3 control-label">Titulo</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="titulo" placeholder="" ng-model="pf.titulo" ng-disabled="formTipo == 'info'">
            </div>
          </div>
          <div class="form-group">
            <label for="rg" class="col-sm-3 control-label">RG</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="rg" placeholder="" ng-model="pf.rg" ng-disabled="formTipo == 'info'">
            </div>
          </div> 
          <div class="form-group">
            <label for="cpf" class="col-sm-3 control-label">Cpf</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="cpf" placeholder="" ng-model="pf.cpf" ng-disabled="formTipo == 'info'">
            </div>
          </div>  
          <div class="form-group">
            <label for="dtNascimento" class="col-sm-3 control-label">Data Nascimento</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="dtNascimento" placeholder="" ng-model="pf.dtNascimento" ng-disabled="formTipo == 'info'">
            </div>
          </div> 
        </div><!-- /.ABA 2 - PF  -->


        <div ng-switch-when="Passo 2 - Dados Pessoa - Jurídica" ><!-- ABA 2 -PJ -->
          debug cliente.pj {{cliente.pj}}

          <div class="form-group">
            <label for="razaoSocial" class="col-sm-3 control-label">Razão Social</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="razaoSocial" placeholder="Somente numeros" ng-model="cliente.pj.razaoSocial" ng-disabled="formTipo == 'info'">
            </div>
          </div>  
          <div class="form-group">
            <label for="nomeFantasia" class="col-sm-3 control-label">Nome Fantasia</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="nomeFantasia" placeholder="" ng-model="cliente.pj.nomeFantasia" ng-disabled="formTipo == 'info'">
            </div>
          </div>  
          <div class="form-group">
            <label for="ramoAtividade" class="col-sm-3 control-label">Ramo da Atividade</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="ramoAtividade" placeholder="" ng-model="cliente.pj.ramoAtividade" ng-disabled="formTipo == 'info'">
            </div>
          </div>    
          <div class="form-group">
            <label for="cnpj" class="col-sm-3 control-label">Cnpj</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="cnpj" placeholder="" ng-model="cliente.pj.cnpj" ng-disabled="formTipo == 'info'">
            </div>
          </div>     
          <div class="form-group">
            <label for="inscricaoEst" class="col-sm-3 control-label">Inscricao Estadual</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="inscricaoEst" placeholder="" ng-model="cliente.pj.inscricaoEst" ng-disabled="formTipo == 'info'">
            </div>
          </div> 

          <div class="form-group">
            <label for="dtAbertura" class="col-sm-3 control-label">Data Abertura</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="dtAbertura" placeholder="" ng-model="cliente.pj.dtAbertura" ng-disabled="formTipo == 'info'">
            </div>
          </div>  
          <div class="form-group">
            <label for="contato" class="col-sm-3 control-label">Contato</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="contato" placeholder="" ng-model="cliente.pj.contato" ng-disabled="formTipo == 'info'">
            </div>
          </div> 
          <div class="form-group">
            <label for="hrMinEntrega" class="col-sm-3 control-label">Hora Minima Entrega</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="hrMinEntrega" placeholder="" ng-model="cliente.pj.hrMinEntrega" ng-disabled="formTipo == 'info'">
            </div>
          </div> 
          <div class="form-group">
            <label for="hrMaxEntrega" class="col-sm-3 control-label">Hora Maxima Entrega</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="hrMaxEntrega" placeholder="" ng-model="cliente.pj.hrMaxEntrega" ng-disabled="formTipo == 'info'">
            </div>
          </div> 

        </div><!-- /.ABA 2 - PJ -->
        
        <div ng-switch-when="Passo 3 - Endereço e Contato"><!-- ABA 3 - ENDEREÇO -->
          {{endereco}}
          <div class="form-group">
            <label for="cep" class="col-sm-3 control-label">Cep*</label>
            <div class="col-sm-7">
              <div ng-show="formCliente.cep.$error.required && formCliente.cep.$dirty">Por favor, preencha o campo cep! </div>
              <div ng-show="formCliente.cep.$error.pattern">Por favor, preencha um cep valido!Ex: 00000000 </div>
              <input class="form-control" type="text" id="cep" ng-model="cliente.local.cep" name="cep" placeholder="Apenas numeros"  ng-required="true" ng-pattern="/^\d{8}$/" ng-change="carregarCep()" ng-disabled="formTipo == 'info'">
            </div>
          </div> 
          <div class="form-group">
            <label for="estado" class="col-sm-3 control-label">Estado*</label>
            <div class="col-sm-7">
              <div ng-show="formCliente.uf.$error.required && formCliente.uf.$dirty">Por favor, preencha o campo estado! </div>
              <input class="form-control" type="text" id="estado" ng-model="cliente.local.uf" name="uf" placeholder="Estado"  ng-required="true">
            </div>
          </div>
          <div class="form-group">
            <label for="localidade" class="col-sm-3 control-label">Cidade*</label>
            <div class="col-sm-7">
              <div ng-show="formCliente.localidade.$error.required && formCliente.localidade.$dirty">Por favor, preencha o campo localidade! </div>
              <input class="form-control" type="text" id="localidade" ng-model="cliente.local.localidade" name="localidade" placeholder="Cidade"  ng-required="true">
            </div>
          </div>
          <div class="form-group">
            <label for="bairro" class="col-sm-3 control-label">Bairro*</label>
            <div class="col-sm-7">
              <div ng-show="formCliente.bairro.$error.required && formCliente.bairro.$dirty">Por favor, preencha o campo Bairro! </div>
              <input class="form-control" type="text" id="bairro" ng-model="cliente.local.bairro" name="bairro" placeholder="Bairro"  ng-required="true">
            </div>
          </div>
          <div class="form-group">
            <label for="logradouro" class="col-sm-3 control-label">Logradouro*</label>
            <div class="col-sm-7">
              <div ng-show="formCliente.logradouro.$error.required && formCliente.logradouro.$dirty">Por favor, preencha o campo endereço! </div>
              <input class="form-control" type="text" id="logradouro" ng-model="cliente.local.logradouro" name="logradouro" placeholder="Endereço" ng-required="true">
            </div>
          </div>  
          <div class="form-group">
            <label for="numero" class="col-sm-3 control-label">Numero*</label>
            <div class="col-sm-7">
              <div ng-show="formCliente.numero.$error.required && formCliente.numero.$dirty">Por favor, preencha o campo Numero! </div>
              <input class="form-control" type="number" id="numero" ng-model="cliente.local.numero" name="numero" placeholder="Numero" ng-required="true">
            </div>
          </div>    
          <div class="form-group">
            <label for="complemento" class="col-sm-3 control-label">Complemento</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="complemento" ng-model="cliente.local.complemento" name="complemento" placeholder="Complemento" >
            </div>
          </div>      
        </div><!-- /.ABA 3 - ENDEREÇO -->
      </div>
      
      <ul class="pager pull-left">
        <li class="" ng-class="{disabled: !hasPreviousStep() }">
          <a href="javascript:void(0);" ng-click="decrementStep()">&larr; Anterior</a>
        </li>
        <li class="" ng-class="{disabled: !hasNextStep() || formCliente.$invalid}">
          <a href="javascript:void(0);" ng-click="incrementStep()" >Proximo &rarr;</a>
        </li>
      </ul>
      
    </form>
  </div> <!-- modal-body -->
  
  <div class="modal-footer" ng-if="formTipo != 'info'">
    <!--<button type="submit" class="btn btn-default">Submit Button</button>-->
    <button type="button" class="btn btn-outline btn-warning" ng-click="clear()">
      <ng-md-icon icon="refresh"></ng-md-icon> Limpar
    </button>
    <button type="button" class="btn btn-outline btn-danger" ng-click="cancel()" data-dismiss="modal">
      <ng-md-icon icon="clear"></ng-md-icon> Cancelar
    </button>
    <button type="button" class="btn btn-outline btn-success" ng-click="submit()" >
      <ng-md-icon icon="save"></ng-md-icon> Gravar
    </button>
  </div>
  <div class="modal-footer" ng-if="formTipo == 'info'">
    <button type="button" class="btn btn-outline btn-primary btn-lg btn-block" ng-click="cancel()" data-dismiss="modal">
      <ng-md-icon icon="clear"></ng-md-icon> Fechar
    </button>
  </div>
</div>
