<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel">
      <ng-md-icon icon="{{iconeHeaderDialog}}" ></ng-md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{tituloDialog}}
    </h4>
    Debug Rótulo {{rotulo}}
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="formRotulo">
      <div class="form-group" ng-if="formTipo != 'insert'">
        <label for="id" class="col-sm-3 control-label">Código</label>
        <div class="col-sm-7">
          <input class="form-control" type="text" id="id" ng-model="rotulo.id" ng-disabled="true">
        </div>
      </div>
      <div class="form-group" >
        <label for="nome" class="col-sm-3 control-label">Nome</label>
        <div class="col-sm-7">
          <input class="form-control" type="text" id="nome" placeholder="Nome da rotulo" ng-model="rotulo.nome" ng-disabled="formTipo == 'info'">
        </div>
      </div>
      <div class="form-group">
        <label for="descricao" class="col-sm-3 control-label">Descrição</label>
        <div class="col-sm-7">
          <input class="form-control" type="text" id="descricao" placeholder="Descrição detelhada da rotulo" ng-model="rotulo.descricao" ng-disabled="formTipo == 'info'">
        </div>
      </div>
<!--  inicio teste img-->
      <div class="form-group"> 
        <label for="imagem" class="col-sm-3 control-label">
          <button type="button" class="btn btn-primary btn-sm" ngf-select ng-model="imgSelecionada" accept="image/*">
            <ng-md-icon icon="file_upload" ></ng-md-icon> &nbsp; Imagem
          </button>
        </label>
        <div class="col-sm-5 form-control cropAreaSgp" id="imagem" ng-model="imgSelecionada" ngf-pattern="image/*" ngf-drop>
            <!--<p>Arraste e solte a imagem aqui ou clique no botão ao lado para localizar no computador</p>-->
          <img-crop image="imgSelecionada  | ngfDataUrl" result-image="rotulo.imagens[0].arquivo" ng-init="rotulo.imagens[0].arquivo"></img-crop>          
        </div>
        <div class="col-sm-4">
          <img ng-src="{{rotulo.imagens[0].arquivo}}" />
        </div>
      </div>
<!--fim teste img-->        
    </form>

  </div><!-- /.modal body-->
  <div class="modal-footer">
    <!--<button type="submit" class="btn btn-default">Submit Button</button>-->
    <button type="button" class="btn btn-outline btn-warning" ng-click="clear()">
      <ng-md-icon icon="refresh"></ng-md-icon> Limpar
    </button>
    <button type="button" class="btn btn-outline btn-danger" ng-click="cancel()" data-dismiss="modal">
      <ng-md-icon icon="clear"></ng-md-icon> Cancelar
    </button>
    <button type="button" class="btn btn-outline btn-success" ng-click="submit()">
      <ng-md-icon icon="save"></ng-md-icon> Gravar
    </button>
  </div>
</div><!-- /.modal content-->