<div class="modal-content" >
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel">
      <ng-md-icon icon="{{iconeHeaderDialog}}" ></ng-md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{tituloDialog}}
    </h4>
<!--    Debug ImagemInit {{imagemInit}}
    Debug ImagemNew {{imagemNew}}-->
  </div>
  <div class="modal-body table-responsive">
    <!--<form class="form-horizontal" role="form" name="formImagem">-->
      <table>
        <tr> <!-- Add  Imagem -->
          <td class="form-group col-sm-4">
            <div>
              <label for="imagemCrop" class="control-label">
                <button id="imagemCrop" type="button" class="form-control btn btn-primary btn-sm" ngf-select ng-model="imgSelecionada" accept="image/*" tooltip="{{imagens.length < maxImagens ? 'Adicionar imagem' : 'Não é possível adicionar mais imagens'}}" ng-disabled="imagens.length >= maxImagens">
                  <ng-md-icon icon="file_upload" ></ng-md-icon> &nbsp; Nova Imagem
                </button>
              </label>
              <div class="form-control cropAreaSgp" id="imagemCrop" ng-model="imgSelecionada" ngf-pattern="image/*" ngf-drop>
                  <!--<p>Arraste e solte a imagem aqui ou clique no botão ao lado para localizar no computador</p>-->
                <img-crop image="imgSelecionada  | ngfDataUrl" result-image="imagemNew.arquivo"></img-crop> <!-- ng-init="imagemInit.caminhoArquivo" -->
              </div>
            </div>
          </td>
          <td class="form-group col-sm-4" ng-hide="!imgSelecionada">
            <div >
              <label for="imagemNewCrop" class="control-label">Imagem posCrop</label>
              <div class="posCropAreaSgp" >
                <img id="imagemNewCrop" ng-src="{{imagemNew.arquivo}}" />
              </div>
            </div>            
          </td>
          <td class="form-group col-sm-2"  ng-hide="!imgSelecionada">
            <div >
              <button class="btn btn-success btn-circle btn-xl" ng-click="addImagem()" tooltip="Confirmar" ng-disabled="imagens.length >= maxImagens || !imagemNew.arquivo">
                <i class="fa fa-check"></i>
              </button>
            </div>
          </td>
        </tr> <!-- /.Add  Imagem -->
      </table>
        <!--{{imagens}}-->
      <table class="table-responsive">
        <tr> <!-- Show  Imagens -->
          <td class="form-group" ng-repeat="imagem in imagens">
            <div>
              <img ng-src="{{imagem.caminhoArquivo ? imagem.caminhoArquivo : imagem.arquivo}}" class="img-thumbnail img-form-img{{(maxImagens > 1 && $index == 0) ? '-principal' : ''}}"/>&nbsp;&nbsp;&nbsp;&nbsp;
              <br>&nbsp;
            </div>
            <div>
              <button class="btn btn-danger btn-outline btn-xs" ng-click="removerImagem($index)" tooltip="Remover imagem" tooltip-placement="bottom">
                <ng-md-icon icon="remove_circle_outline"></ng-md-icon>
              </button>
            </div>
          </td>
        </tr> <!-- /.Show  Imagens -->
      </table>
    <!--</form>-->
  </div><!-- /.modal body-->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline btn-warning" ng-click="clear()">
      <ng-md-icon icon="refresh"></ng-md-icon> Limpar
    </button>
    <button type="button" class="btn btn-outline btn-danger" ng-click="cancel()" data-dismiss="modal">
      <ng-md-icon icon="clear"></ng-md-icon> Cancelar
    </button>
    <button type="button" class="btn btn-outline btn-success" ng-click="submit()" ng-disabled="imagens == imagensInit">
      <ng-md-icon icon="save"></ng-md-icon> Gravar
    </button>
  </div>
</div><!-- /.modal content-->