<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><ng-md-icon icon="{{iconeHeaderDialog}}" ></ng-md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{tituloDialog}}</h4>
    {{embalagem}}
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="formEmbalagem">
      <div class="form-group" ng-if="formTipo != 'insert'">
        <label for="id" class="col-sm-3 control-label">Código</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="id" ng-model="embalagem.id" ng-disabled="true">
        </div>
      </div>
      <div class="form-group" >
        <label for="nome" class="col-sm-3 control-label">Nome *</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="nome" placeholder="Nome da embalagem" ng-model="embalagem.nome" ng-disabled="formTipo == 'info'">
        </div>
      </div>
      <div class="form-group">
        <label for="descricao" class="col-sm-3 control-label">Descrição</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="descricao" placeholder="Descrição detelhada da embalagem" ng-model="embalagem.descricao" ng-disabled="formTipo == 'info'">
        </div>
      </div>
      <div class="form-group">
        <label for="material" class="col-sm-3 control-label">Material *</label>
        <div class="col-sm-9">
          <select class='form-control' id="material" ng-model='embalagem.material' ng-options="material.nome as material.nome group by material.tipo for material in materiais" ng-disabled="formTipo == 'info'">
            <option value='' style='color: #999; opacity: 1;'> Selecione um material </option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="dimensoes" class="col-sm-3 control-label">Dimensões *</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="dimensoes" placeholder="Dimensões da embalagem. larg x comp" ng-model="embalagem.dimensoes" ng-disabled="formTipo == 'info'">
        </div>
      </div>
      <div class="form-group">
        <label for="espessura" class="col-sm-3 control-label">Gramatura *</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="espessura" placeholder="Espessura da embalagem" ng-model="embalagem.espessura" ng-disabled="formTipo == 'info'">
        </div>
      </div>
      <div class="form-group" ng-if="formTipo == 'info' && embalagem.dtDesativacao"> 
        <label for="dtDesativacao" class="col-sm-3 control-label">Data Desativação</label>
        <div class="col-sm-9">
          <input class="form-control" type="text" id="dtDesativacao" ng-model="embalagem.dtDesativacao" ng-disabled="true">
        </div>
      </div>
<!--        inicio teste img-->
      <div class="form-group"> 
        <label for="imagem" class="col-sm-3 control-label">Imagem</label>
        <button type="button" class="col-sm-2 btn btn-primary btn-sm" ngf-select ng-model="imgSelecionada" accept="image/*">
          Procurar
        </button>
        <div class="col-sm-7 form-control cropAreaSgp" id="imagem" ng-model="imgSelecionada" ngf-pattern="image/*" ngf-drop>
          <img-crop image="imgSelecionada  | ngfDataUrl" result-image="embalagem.imagem" ng-init="embalagem.imagem">
            Arraste e solte a imagem ou clique para localizar no computador
          </img-crop>        
        </div>
        <div>
          <img ng-src="{{embalagem.imagem}}" />
        </div>
      </div>
<!--
<div ng-model="embalagem.dtDesativacao=''"></div>
<div ng-model="embalagem.imagem=''"></div>-->
<!--fim teste img-->        
    </form>

  </div>
  <div class="modal-footer" ng-if="formTipo != 'info'">
    <!--<button type="submit" class="btn btn-default">Submit Button</button>-->
    <button type="button" class="btn btn-outline btn-warning" ng-click="clear()">
      <ng-md-icon icon="refresh"></ng-md-icon> Limpar
    </button>
    <button type="button" class="btn btn-outline btn-danger" ng-click="cancel()" data-dismiss="modal">
      <ng-md-icon icon="clear"></ng-md-icon> Cancelar
    </button>
    <button type="button" class="btn btn-outline btn-success" ng-click="submit()">
      <ng-md-icon icon="save"></ng-md-icon> Gravar
    </button>
  </div>
  <div class="modal-footer" ng-if="formTipo == 'info'">
    <button type="button" class="btn btn-outline btn-primary btn-lg btn-block" ng-click="cancel()" data-dismiss="modal">
      <ng-md-icon icon="clear"></ng-md-icon> Fechar
    </button>
  </div>
</div>