<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel">
      <ng-md-icon icon="{{iconeHeaderDialog}}" ></ng-md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{tituloDialog}}
    </h4>
    Debug Categoria {{categoria}}
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="formCategoria">
      <div class="form-group" ng-if="formTipo != 'insert'">
        <label for="id" class="col-sm-3 control-label">Código</label>
        <div class="col-sm-7">
          <input class="form-control" type="text" id="id" ng-model="categoria.id" ng-disabled="true">
        </div>
      </div>
      <div class="form-group" >
        <label for="nome" class="col-sm-3 control-label">Nome</label>
        <div class="col-sm-7">
          <input class="form-control" type="text" id="nome" placeholder="Nome da categoria" ng-model="categoria.nome">
        </div>
      </div>
      <div class="form-group">
        <label for="descricao" class="col-sm-3 control-label">Descrição</label>
        <div class="col-sm-7">
          <input class="form-control" type="text" id="descricao" placeholder="Descrição detelhada da categoria" ng-model="categoria.descricao">
        </div>
      </div>
    </form>

  </div><!-- /.modal body-->
  <div class="modal-footer">
    <!--<button type="submit" class="btn btn-default">Submit Button</button>-->
    <button type="button" class="btn btn-outline btn-warning" ng-click="clear()">
      <ng-md-icon icon="refresh"></ng-md-icon> Limpar
    </button>
    <button type="button" class="btn btn-outline btn-danger" ng-click="cancel()" data-dismiss="modal">
      <ng-md-icon icon="clear"></ng-md-icon> Cancelar
    </button>
    <button type="button" class="btn btn-outline btn-success" ng-click="submit()">
      <ng-md-icon icon="save"></ng-md-icon> Gravar
    </button>
  </div>
</div><!-- /.modal content-->