<div class="modal-content">
  <div class="modal-header">    
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel"><ng-md-icon icon="{{iconeHeaderDialog}}" ></ng-md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{tituloDialog}}</h4>
    <!--debug colaborador{{colaborador}}-->
  </div>
  <div class="modal-body">
    <form class="form-horizontal" role="form" name="formColaborador">
      <ul class="nav nav-tabs">
        <li ng-repeat="step in steps" ng-class="{active: $index == getCurrentStepIndex()}">
          <a href="javascript:void(0)" ng-click="goToStep($index)">{{step}}</a>
        </li>
      </ul>
      
      <div ng-switch on="selection">
        <div ng-switch-when="Passo 1 - Dados Gerais"><!-- ABA 1 - GERAL -->
          <div class="form-group" ng-if="formTipo == 'update'">
            <label for="id" class="col-sm-3 control-label">Código</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="id" ng-model="colaborador.id" ng-disabled="true">
            </div>
          </div>

          <div class="form-group" >
            <label for="perfil" class="col-sm-3 control-label">Perfil</label>
            <div class="col-sm-7">
              <label class="radio-inline">
                <input type="radio" name="perfil" ng-model="colaborador.paramPerfil" value="gerente" > Gerente 
              </label>
              <label class="radio-inline">
                <input type="radio" name="perfil" ng-model="colaborador.paramPerfil" value="producao" > Produção
              </label>
              <label class="radio-inline">
                <input type="radio" name="perfil" ng-model="colaborador.paramPerfil" value="entrega" > Entrega 
              </label>
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-7">
              <input class="form-control" ng-required="true" type="text" id="usuario" placeholder="E-mail" ng-model="colaborador.email" >
            </div>
          </div>
          <div class="form-group">
            <label for="usuario" class="col-sm-3 control-label">Nome de usuário</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="usuario" placeholder="Usuario" ng-model="colaborador.usuario" >
            </div>
          </div>
          <div class="form-group" ng-if="formTipo == 'insert'">
            <label for="senha" class="col-sm-3 control-label">Senha</label>
            <div class="col-sm-7">
              <input class="form-control" type="password" id="senha" placeholder="Senha" ng-model="colaborador.senha" >
            </div>
          </div>
          <div class="form-group" ng-if="formTipo == 'insert'">
            <label for="confSenha" class="col-sm-3 control-label">Confirme a Senha</label>
            <div class="col-sm-7">
              <input class="form-control" type="password" id="confSenha" placeholder="Repetir Senha" ng-model="temp.confSenha" >
            </div>
          </div>
          <div class="form-group">
            <label for="telefone1" class="col-sm-3 control-label">Telefone 1</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="telefone1" placeholder="Telefone 1" ng-model="colaborador.telefone1" >
            </div>
          </div>
          <div class="form-group">
            <label for="telefone2" class="col-sm-3 control-label">Telefone 2</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="telefone2" placeholder="Telefone 2" ng-model="colaborador.telefone2" >
            </div>
          </div>
          <div class="form-group">
            <label for="imagens" class="col-sm-3 control-label">
              <button type="button" class="btn btn-primary" ng-click="openImagemDialog()">
                <ng-md-icon icon="photo_camera"></ng-md-icon> Imagem
              </button>
            </label>
            <div class="col-sm-7" id="imagens">
              <img ng-src="{{colaborador.imagem.caminhoArquivo ? colaborador.imagem.caminhoArquivo : colaborador.imagem.arquivo}}" class="img-thumbnail img-form-img" />
            </div>
          </div>
        </div><!-- /.ABA 1 - GERAL -->
         <div ng-switch-when="Passo 2 - Dados Pessoa Física" ><!-- ABA 2 - PF -->
          <div class="form-group">
            <label for="nome" class="col-sm-3 control-label">Nome</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="nome" placeholder="Nome" ng-model="colaborador.pf.nome" >
            </div>
          </div>  
          <div class="form-group">
            <label for="sobrenome" class="col-sm-3 control-label">Sobrenome</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="sobrenome" placeholder="" ng-model="colaborador.pf.sobrenome" >
            </div>
          </div>  
          <div class="form-group">
            <label for="sexo" class="col-sm-3 control-label">Sexo</label>
            <div class="col-sm-7">
              <select class='form-control' id="sexo" ng-model='colaborador.pf.sexo' ng-options="sexo.nome as sexo.nome  for sexo in sexos" ng-disabled="formTipo == 'update'">
                <option value='' style='color: #999; opacity: 1;'> Selecione </option>
              </select>
            </div>
          </div>   
          
          <div class="form-group">
            <label for="rg" class="col-sm-3 control-label">RG</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="rg" placeholder="" ng-model="colaborador.pf.rg" ng-disabled="formTipo == 'update'">
            </div>
          </div> 
          <div class="form-group">
            <label for="cpf" class="col-sm-3 control-label">Cpf</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="cpf" placeholder="" ng-model="colaborador.pf.cpf" ng-disabled="formTipo == 'update'">
            </div>
          </div>  
           <!--          apagar após testes com datepicker-->
<!--          <div class="form-group">
            <label for="dtNascimento" class="col-sm-3 control-label">Data Nascimento</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="dtNascimento" placeholder="" ng-model="colaborador.pf.dtNascimento" >
            </div>
          </div> -->
          <div class="form-group">
            <label for="dtNascimento" class="col-sm-3 control-label">Data de Nascimento</label>
            <div class="col-sm-7">
              <div class="datepicker" date-format="dd/MM/yyyy">
                <input class="form-control" type="text" id="dtNascimento" placeholder="Data de Nascimento" ng-model="colaborador.pf.dtNascimento">
              </div>
            </div>
          </div>
        </div><!-- /.ABA 2 - PF  -->


        <div ng-switch-when="Passo 3 - Endereço"><!-- ABA 3 - ENDEREÇO -->                    
          <div class="form-group">
            <label for="cep" class="col-sm-3 control-label">Cep</label>
            <div class="col-sm-7 input-group">
<!--              <div ng-show="formColaborador.cep.$error.required && formColaborador.cep.$dirty">Por favor, preencha o campo cep! </div>
              <div ng-show="formColaborador.cep.$error.pattern">Por favor, preencha um cep valido!Ex: 00000000 </div>-->
                <input class="form-control" type="text" id="cep" ng-model="colaborador.endereco.cep" name="cep" placeholder="Apenas numeros"  ng-required="true" ng-pattern="/^\d{8}$/">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="carregarCep()">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
            </div>
          </div> 
          <div class="form-group">
            <label for="estado" class="col-sm-3 control-label">Estado</label>
            <div class="col-sm-7">
              <div ng-show="formColaborador.uf.$error.required && formColaborador.uf.$dirty">Por favor, preencha o campo estado! </div>
              <input class="form-control" type="text" id="estado" ng-model="colaborador.endereco.uf" name="uf" placeholder="Estado"  ng-required="true">
            </div>
          </div>
          <div class="form-group">
            <label for="localidade" class="col-sm-3 control-label">Cidade</label>
            <div class="col-sm-7">
              <div ng-show="formColaborador.localidade.$error.required && formColaborador.localidade.$dirty">Por favor, preencha o campo localidade! </div>
              <input class="form-control" type="text" id="localidade" ng-model="colaborador.endereco.localidade" name="localidade" placeholder="Cidade"  ng-required="true">
            </div>
          </div>
          <div class="form-group">
            <label for="bairro" class="col-sm-3 control-label">Bairro</label>
            <div class="col-sm-7">
              <div ng-show="formColaborador.bairro.$error.required && formColaborador.bairro.$dirty">Por favor, preencha o campo Bairro! </div>
              <input class="form-control" type="text" id="bairro" ng-model="colaborador.endereco.bairro" name="bairro" placeholder="Bairro"  ng-required="true">
            </div>
          </div>
          <div class="form-group">
            <label for="logradouro" class="col-sm-3 control-label">Logradouro</label>
            <div class="col-sm-7">
              <div ng-show="formColaborador.logradouro.$error.required && formColaborador.logradouro.$dirty">Por favor, preencha o campo endereço! </div>
              <input class="form-control" type="text" id="logradouro" ng-model="colaborador.endereco.logradouro" name="logradouro" placeholder="Endereço" ng-required="true">
            </div>
          </div>  
          <div class="form-group">
            <label for="numero" class="col-sm-3 control-label">Numero</label>
            <div class="col-sm-7">
              <div ng-show="formColaborador.numero.$error.required && formColaborador.numero.$dirty">Por favor, preencha o campo Numero! </div>
              <input class="form-control" type="number" id="numero" ng-model="colaborador.endereco.numero" name="numero" placeholder="Numero" ng-required="true">
            </div>
          </div>    
          <div class="form-group">
            <label for="complemento" class="col-sm-3 control-label">Complemento</label>
            <div class="col-sm-7">
              <input class="form-control" type="text" id="complemento" ng-model="colaborador.endereco.complemento" name="complemento" placeholder="Complemento" >
            </div>
          </div>      
        </div><!-- /.ABA 3 - ENDEREÇO -->
      </div><!-- /.selection -->

      <ul class="pager pull-left">
        <li class="" ng-class="{disabled: !hasPreviousStep() }">
          <a href="javascript:void(0);" ng-click="decrementStep()">&larr; Anterior</a>
        </li>
        <li class="" ng-class="{disabled: !hasNextStep() || formColaborador.$invalid}">
          <a href="javascript:void(0);" ng-click="incrementStep()" >Proximo &rarr;</a>
        </li>
      </ul>

    </form>

  </div> <!-- modal-body -->

  <div class="modal-footer" >
    <!--<button type="submit" class="btn btn-default">Submit Button</button>-->
    <button type="button" class="btn btn-outline btn-warning" ng-click="clear()">
      <ng-md-icon icon="refresh"></ng-md-icon> Limpar
    </button>
    <button type="button" class="btn btn-outline btn-danger" ng-click="cancel()" data-dismiss="modal">
      <ng-md-icon icon="clear"></ng-md-icon> Cancelar
    </button>
    <button type="button" class="btn btn-outline btn-success" ng-click="submit()" >
      <ng-md-icon icon="save"></ng-md-icon> Gravar
    </button>
  </div>
</div>
