<div class="modal-content">
  <div class="modal-header">    
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel">
      <ng-md-icon icon="{{iconeHeaderDialog}}" ></ng-md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{tituloDialog}}
    </h4>
  </div>
  
  <div class="modal-body">
    <div class="panel-default">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-4">
            <img ng-src="{{insumo.imagens[0].arquivo}}" class="img-thumbnail img-info-dialog">
          </div>
          <div class="col-lg-8">
            <!--**informacoes na lateral doreita da foto-->
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td><label for="id" class=control-label">Código</label></td>
                    <td>{{insumo.id}}</td>  
                  </tr>
                  <tr>
                    <td><label for="nome" class=control-label">Nome</label></td>
                    <td>{{insumo.nome}}</td>  
                  </tr>
                  <tr>
                    <td><label for="dtDesativacao" class=control-label">Status</label></td>
                    <td style="{{insumo.dtDesativacao ? 'color: red' : ''}}">
                      {{insumo.dtDesativacao ? "Desativado em " + insumo.dtDesativacao: " Ativo"}}</td>
                  </tr>    
                </tbody>
              </table>
            </div><!-- /.table-responsive -->   
          </div>
        </div>
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><label for="descricao" class=control-label">Descrição</label></td>
                  <td>{{insumo.descricao}}</td>  
                </tr> 
                <tr>
                  <td><label for="quantidade" class=control-label">Quantidade</label></td>
                  <td>{{insumo.quantidade}}</td>  
                </tr> 
                <tr>
                  <td><label for="unMedida" class=control-label">Unidade de Medida</label></td>
                  <td>{{insumo.unMedida}}</td>  
                </tr> 
                <tr>
                  <td><label for="codBarras" class=control-label">Código de Barras</label></td>
                  <td>{{insumo.codBarras}}</td>  
                </tr> 
                <tr>
                  <td><label for="estoqueMinimo" class=control-label">Estoque Mínimo</label></td>
                  <td>{{insumo.estoqueMinimo}}</td>  
                </tr>          
              </tbody>
            </table>
          </div><!-- /.table-responsive -->   
        </div> <!-- /.col-lg-12 -->
      </div>  <!-- /.row -->
    </div> <!-- /.panel-default -->
  </div> <!-- modal-body -->

  <div class="modal-footer">
    <button type="button" class="btn btn-outline btn-primary btn-lg btn-block" ng-click="cancel()" data-dismiss="modal">
      <ng-md-icon icon="clear"></ng-md-icon> Fechar
    </button>
  </div>
</div>
