<div class="modal-content">
  <div class="modal-header">    
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="formModalLabel">
      <ng-md-icon icon="{{iconeHeaderDialog}}" ></ng-md-icon>&nbsp;&nbsp;&nbsp;&nbsp;{{tituloDialog}}
    </h4>
  </div>  
  <div class="modal-body">
    <div class="panel-default">
      <div class="row">
        <div class="col-lg-12">
          <div class="col-lg-4">
            <img ng-src="{{produto.imagens[0].caminhoArquivo}}" class="img-thumbnail img-info-dialog">
          </div>
          <div class="col-lg-8">
            <!--**informacoes na lateral doreita da foto-->
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <td><label for="id" class=control-label">Código</label></td>
                    <td>{{produto.id}}</td>  
                  </tr>
                  <tr>
                    <td><label for="nome" class=control-label">Nome</label></td>
                    <td>{{produto.nome}}</td>  
                  </tr>
                  <tr>
                    <td><label for="dtDesativacao" class=control-label">Status</label></td>
                    <td style="{{produto.dtDesativacao ? 'color: red' : ''}}">
                      {{produto.dtDesativacao ? "Desativado em " + produto.dtDesativacao: " Ativo"}}</td>
                  </tr>    
                </tbody>
              </table>
            </div><!-- /.table-responsive -->   
          </div>
        </div>
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <td><label for="descricao" class=control-label">Descrição</label></td>
                  <td>{{produto.descricao}}</td>  
                </tr>
                <tr>
                  <td><label for="dsDetalhada" class=control-label">Descrição Detalhada</label></td>
                  <td>{{produto.dsDetalhada}}</td>  
                </tr>
                <tr>
                  <td><label for="pesoLiquido" class=control-label">Peso Líquido</label></td>
                  <td>{{produto.pesoLiquido}}</td>  
                </tr>
                <tr>
                  <td><label for="unMedida" class=control-label">Unidade de Medida</label></td>
                  <td>{{produto.unMedida}}</td>  
                </tr>
                <tr>
                  <td><label for="vidaUtil" class=control-label">Vida Útil</label></td>
                  <td>{{produto.vidaUtil}}</td>  
                </tr>
                <tr>
                  <td><label for="precoUnitarioPf" class=control-label">Preço Unitário PF</label></td>
                  <td>{{produto.precoUnitarioPf}}</td>
                </tr>
                <tr>
                  <td><label for="precoUnitarioPj" class=control-label">Preço Unitário PJ</label></td>
                  <td>{{produto.precoUnitarioPj}}</td>
                </tr>
<!--                <tr>
                  <td><label for="codBarras" class=control-label">Código de Barras</label></td>
                  <td>{{produto.codBarras}}</td>  
                </tr>-->
                <tr>
                  <td><label for="estoqueMinimo" class=control-label">Estoque Mínimo</label></td>
                  <td>{{produto.estoqueMinimo}}</td>  
                </tr>              
              </tbody>
            </table>
          </div><!-- /.table-responsive -->   
        </div> <!-- /.col-lg-12 -->
      </div>  <!-- /.row -->
    </div> <!-- /.panel-default -->
  </div> <!-- modal-body -->

  <div class="modal-footer">
    <button type="button" class="btn btn-outline btn-primary btn-lg btn-block" ng-click="cancel()" data-dismiss="modal">
      <ng-md-icon icon="clear"></ng-md-icon> Fechar
    </button>
  </div>
</div>
